In [2]:
# 빈 변수
x = None # 변수는 만들어졌지만 값은 들어있지 않은 상태 == null

In [3]:
x = 10
x = x + 5
x += 5  # 연산 속도면에서 위 수식보다 좋음
# 계산은 CPU가, 저장은 RAM에
x

20

In [4]:
#x = input()  # 입력을 유도하는 함수 -> 문자열 데이터로 저장
x = input('ID : ')
# x = int(input('ID : '))  int형식으로 받기

ID : 1

In [164]:
# input에서 여러개 입력 -> split함수
x,y = input("문자열 두 개 입력 : ").split()  # 구분자가 공백 split(',')로 구분자 지정 가능
print(x)
print(y)
print(x+y)  # 문자열 합치기로 인식됨

문자열 두 개 입력 : 5 10
5
10
510

In [165]:
#print(type(input("문자열 두 개 입력 : ").split()))  # list타입

x,y = map(int, input("문자열 두 개 입력 : ").split())
print(x + y)
# 형식 : map(함수, 데이터)

문자열 두 개 입력 : 5 10
15

In [7]:
x,y = map(int, input("문자열 두 개 입력 : ").split(',')) # split(',')로 구분자 지정 가능
print(x + y)

문자열 두 개 입력 : 10,2
12

In [20]:
print(1,2,3,4)
print('hi','hello')
print(1,2,3,4, sep='x')  # print속성으로 구분자 ','를 지정
print(1,2,3,4, sep='\n')  # \n : 제어문자(화면에 출력 X) // 줄바꿈
print('1\t2\t3')  # \t : tab
print('1\n2\n3')

1 2 3 4
hi hello
1x2x3x4
1
2
3
4
1	2	3
1
2
3

In [25]:
print('1\2')  # 역슬레시 자체만 출력 X
print('1\\2')  # 두 개를 써야 역슬레시 출력

1
1\2

In [34]:
print(1, end=' ')  # print함수 end default값은 \n인데 이것을 바꿔는 것
print(2, end=' ')
print(3)
print(1,2,3)

1 2 3
1 2 3

In [48]:
# True / False -> boolean(논리값) by 논리 연산자

2>1
2==1
2!=1
'test' == 'text'  # 텍스트도 가능
'python' == 'Python'  # 대소문자 구분
1 == 1.0  # 자동형변형때문에 TRUE
1 is 1.0  # 객체 자체를 비교하기 때문에 FALSE
1 is not 1.0

True

In [51]:
print('''
클래스 : 건축 설계도               // 붕어빵기계
객체   : 건물                      // 붕어빵
속성   : 건물의 특성(층, 평수 ...) // 내용물, 크기 ..
메서드 : 건물의 동작               // 붕어빵의 동작
상속   : 유사한 건물 설계시 기존 건축설계도의 재사용
''')

클래스 : 건축 설계도               // 붕어빵기계
객체   : 건물                      // 붕어빵
속성   : 건물의 특성(층, 평수 ...) // 내용물, 크기 ..
메서드 : 건물의 동작               // 붕어빵의 동작
상속   : 유사한 건물 설계시 기존 건축설계도의 재사용

In [62]:
# 논리연산 : and, or, not
# and : 모두 참 => 참
True and True
True and False

# or : 하나 이상 참 => 참
True or True
True or False
False or False

# not : 논리값을 반대로 뒤집는 연산자
not(False or False)

True

In [71]:
1 == 1 and 10 != 9
not 1 > 0  # not True => False
not 1 is 1.0

True

In [88]:
# bool함수 : 정수, 실수, 문자열 => 불린타입 변환
bool(-1)
bool(0)
bool(1)  # 정수 0을 제외한 나머지 True

bool(3.14)
bool(0.0)  # 실수 0.0을 제외한 나머지 True

bool('hi')
bool('')  # 빈 문자열을 제외한 나머지 True

False

In [92]:
False and ㄴㅇㄹㄴㅍ  # 맨 앞이 False이므로 어차피 False 따라서 and 뒤 실행 X

False

In [114]:
number = 3
day = 'two'
'I eat %d apples. ' %number  # %d 포맷에는 숫자만 가능 (문자열 X)
'I eat %s apples. ' %number  # %s 포맷에는 문자열도 가능

'I eat %d apples. so I was sick for %s days.' %(number, day)  # 두 개 이상의 값을 전달하려면 ( , )필요

'I eat 3 apples. so I was sick for two days.'

In [117]:
#'Error is %d%' %3  # %를 단독으로 쓰기위해선 %%
'Error is %d%%' %3

'Error is 3%'

In [133]:
# %10s : 10자리를 확보한 뒤, 오른쪽 정렬해서 출력
print('%10sGD' %'hi')
print('%10sGD' %'hello')
# %-10s : 10자리를 확보한 뒤, 왼쪽 정렬해서 출력
print('%-10sGD' %'hi')
print('%-10sGD' %'hello')

        hiGD
     helloGD
hi        GD
hello     GD

In [139]:
'%.3f' %3.14  # %.nf 소수점 자리수 지정
'%10.2f' %3.14  # 10자리를 확보한 후 소수점 둘째자리까지

'      3.14'

In [160]:
# format함수를 이용한 포매팅
'I eat %d apples' %3
'I eat {0} apples'.format(1)
'I eat {0} apples'.format('three')

print('I eat {0} apples. so I was sick for {1} days.'.format(number, day))
print('I eat {1} apples. so I was sick for {0} days.'.format(number, day))
print('I eat {number} apples. so I was sick for {day} days.'.format(number=3, day='two'))

I eat 3 apples. so I was sick for two days.
I eat two apples. so I was sick for 3 days.
I eat 3 apples. so I was sick for two days.

In [170]:
'{0} {1}'.format('hi', 'hello')

# 정렬 옵션
print('{0}'.format('hello'))
print('{0:<10}'.format('hello'))  # 10자리 확보, 왼쪽 정렬
print('{0:>10}'.format('hello'))  # 10자리 확보, 오른쪽 정렬
print('{0:^10}'.format('hello'))  # 10자리 확보, 가운데 정렬
print('{0:*^10}'.format('hello')) # 10자리 확보, 가운데 정렬, 빈칸 채우기

hello
hello
     hello
  hello
**hello***

In [193]:
a = 'hello'
a.count('l')  # l의 개수
a.count('a')  # a의 개수

b = 'Python is very easy.'
b.find('y')  # 가장 왼쪽에서부터 찾아가므로 1
b.find('k')  # 문자를 못찾는 경우 -1

b.index('y')  # 가장 왼쪽에서부터 찾아가므로 1
#b.index('k')  # 문자를 못찾는 경우 Value error

2

In [202]:
'#'.join('hello')  # 사이사이에 문자 삽입
# 리스트 : 대괄호[]로 표현, 자료를 나열하고자 할 때 사용
'#'.join(['m','u','l','t','i'])

'm#u#l#t#i'

In [206]:
# 자연어처리에서 'test', 'TEST', 'Test' => 일괄적으로 치환
a = 'TesT'
print(a)
print(a.upper())
print(a.lower())

TesT
TEST
test

In [212]:
# strip함수 : 양쪽 공백 제거
# lstrip함수 : 왼쪽 공백 제거
# rtrip함수 : 오른쪽 공백 제거

word = '  hello  '
print(word)
print(word.strip())
print(word.lstrip())
print(word.rstrip())

  hello
hello
hello
  hello

In [3]:
# replace : 문자열을 대체
# 대한민국, 한국, 코리아, 조선, 고려, 우리나라... => 대한민국
x = '대한민국 한국 코리아'
x.replace('한국','대한민국')

'대한민국 대한민국 코리아'

In [11]:
x = 'a?b$c?d'
x.split('?')  # ['a', 'b$c', 'd']
x.split()  # ['a?b?c?d']
x.split('$')  # ['a?b', 'c?d']

['a?b', 'c?d']

In [20]:
'''
리스트 : 데이터 타입에 관계없이 저장
'''
x1 = []  # 빈 리스트
x1
x2 = [1,2,3]
x2
x3 = ['programming','is','very','easy']
x3
x4 = [1,2,'is','very']  # 데이터타입이 달라도 각 요소로 저장 가능
x4
x5 = [1,2,['is','very'], True]  # 리스트내에 리스트 가능
x5

a = list()  # a = []
a
a=[1,2,3]
a[0]

1

In [28]:
# 2중 리스트

x = [1,2,3,['a','b','c']]
# 1출력
x[0]
# 'a','b','c'출력
x[3]  # x[-1]
# 리스트의 리스트 참조
x[3][2]
x[3][-1]

'c'

[1, 2, ['a', 'b', ['python', 'easy']]]

In [36]:
x2 = [1,2,3,['a','b','c'],4,5]
x2

print(x2[2:])
print(x2[3][0:2])

[3, ['a', 'b', 'c'], 4, 5]
['a', 'b']

In [39]:
x=[1,2,3]
y=[4,5,6]
# 리스트 더하기 => 2개의 리스트가 연결돼 1개의 리스트가 됨
x+y
'hi'+'hello'

# 리스트 곱하기 => 리스트가 연속해서 연결됨
x=[9,8,7]
x*3

[9, 8, 7, 9, 8, 7, 9, 8, 7]

In [43]:
x=[1,2,3]
len(x)

3

In [50]:
a=[1,2,3]
# a[2]+'hi'  // error
str(a[2])+'hi' # 3hi출력

'3hi'

In [6]:
# 연속된 값을 가진 리스트 만들기

list(range(10))  # 0~9까지 연속된 숫자 생성
list(range(3,12))  # 3~11
list(range(3,12,2))  # range(시작값, 마지막값+1, 등차)

[]

In [15]:
a = [1,2,3]
a[2] = 10
a

# 데이터 삭제
del a[1:3]
a

[1]

In [21]:
# 1~10까지 숫자가 저장된 리스트 생성

x = list(range(1,11))
x

del x[6:]
x
del x[2:5]
x

[1, 2, 6]

In [29]:
# 리스트 변수명.함수명()

# 자료 구조에 따라 사용 가능한 함수가 다르다.
# (공통으로 사용 가능한 함수도 있다)

# 자료구조 : 리스트, 튜플, 딕셔너리, 셋 ... 
'''
리스트(객체).함수()
딕셔너리(객체).함수()
문자열(객체).함수()
'''

In [3]:
# append 함수

a=[1,2,3]
x = 5
a.append(x)
a
b = [6,7]
a.append(b)

In [34]:
# sort함수 리스트 정렬

a = [2,1,4,3]
a.sort()  # 오름차순 정령
a
a.reverse()  # 역으로 뒤집어주는 함수
a

a = ['s', 'k', 'e']
a.sort()
a

['e', 'k', 's']

In [35]:
# index함수
a = [10,20,30]
a.index(20)  # 20이 저장돼있는 위치

1

In [42]:
# insert함수 : 원하는 위치에 리스트 요소 추가
a = [1,2,3]
a.insert(0,100)  # insert(인덱스위치, 값)
a
a.insert(3,5)
a

[100, 1, 2, 5, 3]

In [60]:
a=[1,2,3,1,2,3]

In [54]:
a.remove(1)  # 값을 선택해서 지우기

In [55]:
a

[2, 3, 2, 3]

In [73]:
# pop함수 : 맨 마지막 값 빼기
a = [10,20,30,40]
a.pop(1)  # 지정 인덱스에서 값 빼기
a

[10, 30, 40]

In [78]:
# count함수 : count(수를 셀 것)
a = [1,2,3,3.14]
a.count(1)
a.count(3.14)

1

In [81]:
# extend함수 
a = [1,2,3]
b = [4,5]
a+b
a.extend(b)
a

[1, 2, 3, 4, 5]

In [ ]:
# 연습문제

In [92]:
# 1
a = '921101-1231234'
print(a[0:6])
print(a[7:])

921101
1231234

In [93]:
# 2
a = '921101-1231234'
print(a[7])

1

In [163]:
# 3
a = 'a:b:c:d'
a = a.split(':')
print(a)
a = '#'.join(a)
print(a)

['a', 'b', 'c', 'd']
a#b#c#d

In [162]:
# 3-1
a = 'a:b:c:d'
a.replace(':',"#")

'a#b#c#d'

In [110]:
# 4
a = ['How', 'are', 'you']
a = ' '.join(a)
print(a)

How are you

In [109]:
# 5
a = list(range(5,-4,-2))
print(a)

[5, 3, 1, -1, -3]

In [168]:
# 6
'''
1부터 10,000까지 8이라는 숫자가 총 몇 번 나오는가?
8이 포함되어 있는 숫자의 개수를 카운팅 하는 것이 아니라
8이라는 숙자를 모두 카운팅 해야한다.
(ex. 8808은 3, 8888은 4)
'''
str(list(range(1,10001))).count('8')

4000

In [169]:
# 6-1
b=''
for i in range(10001):
    b += str(i)
b.count('8')

4000

In [171]:
a=[1,2,3,4]
map(str,a)