1. 카카오톡 게임별의 하반기 신규 서비스로 다트 게임을 출시하기로 했다. 다트 게임은 다트판에 다트를 세 차례 던져 그 점수의 합계로 실력을 겨루는 게임으로,
 모두가 간단히 즐길 수 있다. 갓 입사한 무지는 코딩 실력을 인정받아 게임의 핵심 부분인 점수 계산 로직을 맡게 되었다. 다트 게임의 점수 계산 로직은 아래와 같다.

다트 게임은 총 3번의 기회로 구성된다.
각 기회마다 얻을 수 있는 점수는 0점에서 10점까지이다.

점수와 함께 Single(S), Double(D), Triple(T) 영역이 존재하고 각 영역 당첨 시 점수에서 1제곱, 2제곱, 3제곱 (점수^1 , 점수^2 , 점수^3 )으로 계산된다.
옵션으로 스타상(*) , 아차상(#)이 존재하며 스타상(*) 당첨 시 해당 점수와 바로 전에 얻은 점수를 각 2배로 만든다. 아차상(#) 당첨 시 해당 점수는 마이너스된다.
스타상(*)은 첫 번째 기회에서도 나올 수 있다. 이 경우 첫 번째 스타상(*)의 점수만 2배가 된다. (예제 4번 참고)
스타상(*)의 효과는 다른 스타상(*)의 효과와 중첩될 수 있다. 이 경우 중첩된 스타상(*) 점수는 4배가 된다. (예제 4번 참고)
스타상(*)의 효과는 아차상(#)의 효과와 중첩될 수 있다. 이 경우 중첩된 아차상(#)의 점수는 -2배가 된다. (예제 5번 참고)
Single(S), Double(D), Triple(T)은 점수마다 하나씩 존재한다.
스타상(*), 아차상(#)은 점수마다 둘 중 하나만 존재할 수 있으며, 존재하지 않을 수도 있다.
0~10의 정수와 문자 S, D, T, *, #로 구성된 문자열이 입력될 시 총점수를 반환하는 함수를 작성하라.

입력 형식

“점수|보너스|[옵션]”으로 이루어진 문자열 3세트.

예) 1S2D*3T
점수는 0에서 10 사이의 정수이다.
보너스는 S, D, T 중 하나이다.
옵선은 *이나 # 중 하나이며, 없을 수도 있다.
출력 형식

3번의 기회에서 얻은 점수 합계에 해당하는 정수값을 출력한다.

예) 37
입출력 예제

예제	dartResult	answer	설명
1	1S2D*3T	    37	1^1 * 2 + 2^2 * 2 + 3^3
2	1D2S#10S	9	1^2 + 2^1 * (-1) + 10^1
3	1D2S0T	    3	1^2 + 2^1 + 0^3
4	1S*2T*3S	23	1^1 * 2 * 2 + 2^3 * 2 + 3^1
5	1D#2S*3S	5	1^2 * (-1) * 2 + 2^1 * 2 + 3^1
6	1T2D3D#	   -4	1^3 + 2^2 + 3^2 * (-1)
7	1D2S3T*	   59	1^2 + 2^1 * 2 + 3^3 * 2

In [ ]:
res = ['1S2D*3T','1D2S#10S','1D2S0T','1S*2T*3S','1D#2S*3S','1T2D3D#','1D2S3T*']

In [167]:
def dart(res):
    dartResult = res+'0'
    answer = ''

    for target in range(len(dartResult)):
        if  dartResult[target] == 'S':
            if dartResult[target+1] not in ['#','*']:
                answer+='**1 + '
            else :
                answer+='**1'
        elif dartResult[target] == 'D':
            if dartResult[target+1] not in ['#','*']:
                answer+='**2 + '
            else :
                answer+='**2'
        elif dartResult[target] == 'T':
            if dartResult[target+1] not in ['#','*']:
                answer+='**3 + '
            else :
                answer+='**3'
        elif dartResult[target] == '#':
            if target == len(dartResult)-1:
                answer+='*(-1)' 
            else:
                answer+='*(-1) + '
        elif dartResult[target] == '*':
            if target == len(dartResult)-1:
                answer+=')*2'
                answer=''.join(reversed(answer))+'('
                answer=''.join(reversed(answer))
            else:
                answer+=')*2 + '
                answer=''.join(reversed(answer))+'('
                answer=''.join(reversed(answer))
        else:
            answer+=dartResult[target]

    return eval(answer)

# 테스트 

res = ['1S2D*3T','1D2S#10S','1D2S0T','1S*2T*3S','1D#2S*3S','1T2D3D#','1D2S3T*']
for i in range(int(len(res))):
    print(dart(res[i]))
# 37
# 9
# 3
# 23
# 5
# -4
# 60

37
9
3
23
5
-4
60

In [166]:

#     print(res[i])

37
9
3
23
5
-4
60

SyntaxError: unexpected EOF while parsing (<string>, line 1)

In [106]:
''.join(reversed(a))+'222'

'fds222'

In [98]:
res=''
for i in answer:
    if i == ' ':
        i = ' + '
    res+=i
res

'1**2 + 2**1 + *(-1) + 10**1 + '

In [9]:
import pandas as pd
import numpy as np

In [49]:
dartResult = '1T2D3D#'
num=['1','2','3','4','5','6','7','8','9']
dartResultList=[]

for target in dartResult:
    if target in num:
        target = int(target)
    dartResultList.append(target) 
dartResultList

answer = []
# [1, 'T', 2, 'D', 3, 'D', '#']   
for target in range(len(dartResultList)):
    if type(dartResultList[target]) == int:
        answer.append(dartResultList[target])
    elif dartResultList[target] == 'S':
        answer.append('** 1')
    elif dartResultList[target] == 'D':
        answer.append('** 2')
    elif dartResultList[target] == 'T':
        answer.append('** 3')
    elif dartResultList[target] == '#':
        answer.append('* (-1)')    
answer

[1, '** 3', 2, '** 2', 3, '** 2', '* (-1)']

In [52]:
answer

[1, '** 3', 2, '** 2', 3, '** 2', '* (-1)']

In [51]:
eval(answer)

TypeError: eval() arg 1 must be a string, bytes or code object

In [47]:
pd.DataFrame(index=['1회','2회','3회'],
            columns=['score', 'area', 'bonus'])

   score area bonus
1회   NaN  NaN   NaN
2회   NaN  NaN   NaN
3회   NaN  NaN   NaN

In [ ]:
dartResult = '1T2D3D#'
num=['1','2','3','4','5','6','7','8','9']

for target in dartResult:
    if target in num:
        target = int(target)
    dartResultList.append(target) 
dartResultList