# numpy(전처리), pandas(분석) 병행
전처리 : 결측치 -> 대체(평균, 제거 .. ), 표준화 / 정규화

정규화 : 각 속성값 - 최소값 / 각 속성의 최대값-최소값

=> 0~1

표준화 : 각 속성값 - 평균 / 표준편차 

=>평균 = 0 / 표준편차 = 1

원핫인코딩 : 100000, 010000, 001000 ...

              A       B       C     D E F .. 추상화
              
              
문장 추출 -> 단어(5개)추출 -> 원핫인코딩

ex : 컴퓨터가 단어를 구분 할 수 있도록 추상화

국어 10000

영어 01000

수학 00100

과학 00010

윤리 00001

-> 메모리를 많이 사용하기 때문에 다량의 긴 데이터를 처리할 때는 비효율


word2vec : 단어 표현 벡터에 문맥 및 단어 간 의미 유사성을 포함시킨 워드 임베딩 모델

cbow : 단어들 중간에 어떤 단어가 올지 예측

skip-gram : 중간 단어를 보고 앞 뒤에 어떤 단어가 올지 예측

# numpy
: 수치해석 패키지, 다차원 배열 구조벡터, 행렬을 사용하는 선형대수 계산시 사용

리스트 : 속도 느림, 메모리 많이 차지

배열(array) : 속도 빠름, 메모리 적게 차지

넘파이 배열과 리스트의 차이점
- 배열은 모두 같은 자료형, 원소 개수 변경 못함
- 배열은 파이썬에서 제공하지 않음
- 파이썬 환경에서 넘파이 패키지를 활용하여 배열을 사용할 수 있음

In [2]:
# 1차원 배열
import numpy as np

In [9]:
ar = np.array([0,1,2,3,4])
type(ar)

numpy.ndarray

100*100 크기의 이미지   (픽셀:10,000개)

0~255 사이의 gray scale

=> 몇차원?? 10,000차원

In [20]:
data=list(range(10))
# data에 저장된 모든 값들에 대해 2배
print(data)

def double(x):
    return x*2
# data=list(map(doubl,data))

data=list(map(lambda x:x*2,data))
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 시간 복잡도(CPU)
시간 복잡도 : 연산 결과가 나오기까지 수행되는 라인의 수

In [23]:
data=list(range(101))
sum = 0
d = 100
print(d*(d+1)/2)  # O(1)

for i in data:
    sum+=i
print(sum)  # O(n)

5050.0
5050

# 공간 복잡도 (RAM)
공간 복잡도 : 차지하게 될 메모리의 양

In [28]:
ans = []
data = list(range(1,11))
for d in data:
    ans.append(d*2)
print(ans)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
x = np.array(data)
x
x*2

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [38]:
a = np.array([1,2,3])
b = np.array([4,5,6])
a2 = [1,2,3]
b2 = [4,5,6]

In [39]:
# 리스트 연산
2*a2+b2  # [1, 2, 3, 1, 2, 3, 4, 5, 6]
# 배열 연산
2*a+b  # array([ 6,  9, 12])

array([ 6,  9, 12])

In [45]:
a = np.array([1,2,3])
a2 = [1,2,3]

a2 == 2  # False
a == 2   # array([False,  True, False])

# a2 > 2  # error
a > 2     # array([False, False,  True])

array([False, False,  True])

# 2차원 배열(행렬, matrix)
가로 줄 : 행

세로 줄 : 열

In [59]:
# 2차원 배열 : 리스트의 리스트
m = np.array([[0,1,2],[3,4,5]])  # 열 : 안쪽 리스트 길이(가로크기) / 행 : 바깥쪽 리스트 길이 (세로크기)
# 0 1 2
# 3 4 5
# 2행 3열 배열
print(m)
len(m)     # 행의 개수
len(m[0])  # 열의 개수

[[0 1 2]
 [3 4 5]]

3

# 3차원 배열

In [69]:
# 3차원 배열 : 리스트의 리스트의 리스트
l=np.array([[[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]],
            
          [[31,2,3,4],
          [35,6,7,8],
          [39,10,11,12]]])
# 2행 3열 4깊이(면)
# 2 * 3 * 4

len(l)       # 2 행
len(l[0])    # 3 열
len(l[0][0]) # 4 깊이

3

# ndim, shape

In [73]:
a = np.array([4,5,6])
# 1차원
print(a.ndim)  # 배열의 차원
print(a.shape) # 배열의 크기

# 2차원
print(m.ndim)  # 배열의 차원
print(m.shape)

# 3차원
print(l.ndim)  # 배열의 차원
print(l.shape)

1
(3,)
2
(2, 3)
3
(2, 3, 4)

In [311]:
# 1
# 연속으로 숫자 3개를 곱했을 때 얻어진 결과값이 가장 큰 구간이 어디인지 출력
a = [3,2,1,-4,-7,-9,8,-5,3,-1]
a = a + [0,0]
aa = np.array(a)
ans = 0
ans_list = []
for i in aa:
    res=aa[i]*aa[i+1]*aa[i+2]
    if res > ans:
        ans = res
        ans_list=[aa[i],aa[i+1],aa[i+2]]
print(ans_list)

# 2
# 2*2의 영역을 구성하는 수를 곱했을 때 얻어진 결과값이 가장 큰 구간이 어디인지 출력
b = np.array([[3,1,-2],
              [2,1,-3],
              [-2,0,-7]])
# 6 9
# 0 0
res_sum = 0
res_sum_list = np.array([])
for i in range(len(b)-1):
    for j in range(len(b[i])-1):
        res = b[i][j] * b[i][j+1] * b[i+1][j] * b[i+1][j+1]
        if res > res_sum:
            res_sum_list = b[i:i+2,j:j+2]
print(res_sum_list)

[-9, 8, -5]
[[ 1 -2]
 [ 1 -3]]

# array slicing

In [96]:
ar = np.array([[1,2,3,4],[5,6,7,8]])
ar
ar[0]
# 배열[행.열]
ar[0,:]  # 첫 번째 행 전체
ar[:,1]  # 두 번째 열 전체

ar[1,1:]  # 두 번째 행에서 두 번째 열부터 마지막까지
ar[:,:2]
ar[:2,:2]
ar[:,0:2]

array([[1, 2],
       [5, 6]])

# indexing
: 데이터 1개를 참조

In [110]:
ar = np.array([0,1,2])
ar[1]
ar[-1]

ar = np.array([[1,2,3,4],[5,6,7,8]])
ar[0,0]
ar[1,1]

6

# 불린 참조
: 조건에 대한 결과가 참인 값만 추출

In [129]:
ar = np.array([2,3,4,5])
bidx = np.array([True,True,False,True])

ar[bidx]
ar[ar!=4]

# ar의 요소값이 짝수인 것들만 추출
ar[ar%2==0]

ar[ar>3]

array([4, 5])

# 정수 참조 추출
: 인덱스값으로 인식되서 추출

In [141]:
ar = np.array([2,3,4,5])
idx = np.array([0,3])
ar[idx]
idx = np.array([0,0,1,1])
ar[idx]

array([2, 2, 3, 3])

In [140]:
ar = idx
ar

array([0, 0, 1, 1])

In [213]:
ar = np.array([[1,2,3,4],[5,6,7,8]])
# idx = np.array([0,3])

# for i in range(len(ar)):
#     print(ar[i][idx])
ar[:,[0,3]]
ar[:,[True,False,False,True]]

[1 4]
[5 8]

array([4, 5, 6, 7, 8])

In [226]:
ar = np.array([[1,2,3,4],
               [15,16,17,18],
               [25,26,27,28],
               [35,36,37,38]])
# 같은의미
ar[:]  # ar 전체 행
ar     # ar 배열 전체
ar[:,:]  # 전체 행, 전체 열

ar[[2,0,-1],:]

array([[25, 26, 27, 28],
       [ 1,  2,  3,  4],
       [35, 36, 37, 38]])

# pandas
: 원데이터를 데이터 프레임으로 읽어서 분석

원데이터 : csv, tsv, txt, xls, xlsx, json, xml ...

numpy : 다차원 배열 ( 숫자 데이터 처리에 사용)

In [227]:
import pandas as pd

In [244]:
csvTest = pd.read_csv('test_csv.csv')
csvTest

   ID LAST_NAME  AGE
0   1       KIM   25
1   2       LEE   22
2   3      PARK   33
3   4      CHOI   24
4   5      CHOI   30

In [ ]:
# Data Frame 구조

#          열 인덱스 ..
# 행 인덱스 데이터 ..
# .          .
# .          .

In [245]:
csvTest.shape  # (5,3) -> 5행 3열의 구조
csvTest.shape[0]  # 행의 개수
csvTest.shape[1]  # 열의 개수

3

test_text.txt
구분자 : |

In [256]:
textTest = pd.read_csv('test_text.txt',sep='|')
# textTest.shape (5,3)
textTest

   ID LAST_NAME  AGE
0   1       KIM   25
1   2       LEE   22
2   3      PARK   33
3   4      CHOI   24
4   5      CHOI   30

In [275]:
# 1
m = np.array([[ 0,  1,  2,  3,  4],
              [ 5,  6,  7,  8,  9],
              [10, 11, 12, 13, 14]])
print(m[1,2])
print(m[2,4])
print(m[1,1:3])
print(m[1:,2])
print(m[:2,3:])

7
14
[6 7]
[ 7 12]
[[3 4]
 [8 9]]

In [297]:
#2 
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
              11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
print('3의 배수 :',x[x%3==0])
print('4로 나누면 나머지가 1 :',x[x%4==1])
print('3으로 나눠지고, 4로 나누면 나머지가 1 :',x[x%3==0][x[x%3==0]%4==1])
# y[y%4==1]

3의 배수 : [ 3  6  9 12 15 18]
4로 나누면 나머지가 1 : [ 1  5  9 13 17]
3으로 나눠지고, 4로 나누면 나머지가 1 : [9]

In [354]:
# 3
box_height=[7,4,2,0,0,6,0,7,0]
res=np.array([])
box_br=np.array(
[
[1,0,0,0,0,0,0,1,0],
[1,0,0,0,0,1,0,1,0],
[1,0,0,0,0,1,0,1,0],
[1,1,0,0,0,1,0,1,0],
[1,1,0,0,0,1,0,1,0],
[1,1,1,0,0,1,0,1,0],
[1,1,1,0,0,1,0,1,0]])

for i in box_br:
    for j in range(len(i)):
        if i[j]==1:
            li = i[j:]
            i[j]=len(li[li==0])
print(box_br)
box_br

[[7 0 0 0 0 0 0 1 0]
 [6 0 0 0 0 2 0 1 0]
 [6 0 0 0 0 2 0 1 0]
 [5 5 0 0 0 2 0 1 0]
 [5 5 0 0 0 2 0 1 0]
 [4 4 4 0 0 2 0 1 0]
 [4 4 4 0 0 2 0 1 0]]