# 연습문제

In [99]:
#1 
daumPrice = 89000
naverPrice = 751000

daumCnt = 100
naverCnt = 20

total = daumPrice * daumCnt + naverPrice * naverCnt
print('두 주식의 총 합계 금액은 %d원 입니다.'%total)

두 주식의 총 합계 금액은 23920000원 입니다.

In [97]:
#2
lowTotal = daumPrice * 0.95 * daumCnt + naverPrice * 0.9 * naverCnt
minus = total - lowTotal
print('손해액은 %d원입니다.'%minus)

손해액은 1947000원입니다.

In [102]:
#3
F = 50
C = (F-32)/1.8
print('화씨 %d는 섭씨 %d입니다.'%(F,C))

화씨 50는 섭씨 10입니다.

In [103]:
#4 
print('pizza'*10)

pizzapizzapizzapizzapizzapizzapizzapizzapizzapizza

In [106]:
#5
naverPrice = 1000000
changePoint = -0.3
day = 2

for i in range(1,day+1):
    naverPrice = naverPrice*(1+changePoint)
print(naverPrice)

1
2
489999.99999999994

In [107]:
#6
name = '파이썬'
birth_year = 2014 
birth_month = 12
birth_day = 12
number = '20141212-1623210'

print('이름:{} 생년월일:{}년 {}월 {}일 주민등록번호 : {}'.format(name,birth_year,birth_month,birth_day,number))

이름:파이썬 생년월일:2014년 12월 12일 주민등록번호 : 20141212-1623210

In [110]:
# 7 
s = 'Daum KaKao'
s = s.replace('Daum KaKao','KaKao Daum')
s

'KaKao Daum'

In [111]:
# 8
a = 'hello world'
a = a.replace('hello', 'hi')
print(a)

hi world

In [112]:
# 9 
x = 'abcdef' # 'bcdefa'
x = x[1:] + x[0]
print(x)

bcdefa

In [118]:
import numpy as np

In [120]:
# 10

naver_closing_price = [['9/7','월',474500], 
                       ['9/8','화',461500], 
                       ['9/9','수',501000], 
                       ['9/10','목',500500], 
                       ['9/11','금',488500]]
print(naver_closing_price)

[['9/7', '월', 474500], ['9/8', '화', 461500], ['9/9', '수', 501000], ['9/10', '목', 500500], ['9/11', '금', 488500]]

In [130]:
# 11
price_list=[]
for i in range(len(naver_closing_price)):
    price_list.append(naver_closing_price[i][2])
max(price_list)

501000

In [131]:
# 12
price_list=[]
for i in range(len(naver_closing_price)):
    price_list.append(naver_closing_price[i][2])
min(price_list)

461500

In [132]:
# 13
price_list=[]
for i in range(len(naver_closing_price)):
    price_list.append(naver_closing_price[i][2])
max(price_list)-min(price_list)

39500

In [142]:
# 14
date = '수'
for i in range(len(naver_closing_price)):
    if naver_closing_price[i][1] == date:
        print('%s요일의 종가는 %d원 입니다.'%(date, naver_closing_price[i][2]))

수요일의 종가는 501000원 입니다.

In [146]:
# 15
naver_closing_price2 = {'09/07':474500,'09/08':461500,'09/09':501000,'09/10':500500,'09/11':488500}

In [147]:
# 16
naver_closing_price2.get('09/09')

501000

In [157]:
# 17
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]
delivery = []

for i in range(len(apart)):
    for j in range(len(apart[i])):
        if apart[i][j] not in arrears:
            delivery.append(apart[i][j])
            print('%d호에 배달 완료했습니다.'%apart[i][j])
        else:
            print('%d호는 구독료 미납 세대입니다.' %apart[i][j])
print(delivery)

101호는 구독료 미납 세대입니다.
102호에 배달 완료했습니다.
103호에 배달 완료했습니다.
104호에 배달 완료했습니다.
201호에 배달 완료했습니다.
202호에 배달 완료했습니다.
203호는 구독료 미납 세대입니다.
204호에 배달 완료했습니다.
301호는 구독료 미납 세대입니다.
302호에 배달 완료했습니다.
303호에 배달 완료했습니다.
304호에 배달 완료했습니다.
401호에 배달 완료했습니다.
402호에 배달 완료했습니다.
403호에 배달 완료했습니다.
404호는 구독료 미납 세대입니다.
[102, 103, 104, 201, 202, 204, 302, 303, 304, 401, 402, 403]

In [166]:
# 18
def myaverage():
    a = int(input('첫 번째 숫자 입력 : '))
    b = int(input('두 번째 숫자 입력 : '))
    avr = ( a + b ) / 2
    print('\n%d와 %d의 평균은 %d입니다.' %(a,b,avr))
    
myaverage()

첫 번째 숫자 입력 : 4
두 번째 숫자 입력 : 2

4와 2의 평균은 3입니다.

In [168]:
# 19
def get_max_min(data_list):
    test_list = data_list
    print('최대값은 %d 입니다.'%max(test_list))
    print('최소값은 %d 입니다.'%min(test_list))
    
get_max_min([5,4,8,2,1,3,9,7])

최대값은 9 입니다.
최소값은 1 입니다.

In [178]:
# 20
def get_txt_list(path):
    import glob
    
    file_list = glob.glob('%s\*.txt'%path)
    print(file_list)

get_txt_list('C:\\Users\student\Desktop\TIL\Deeplearning')

['C:\\Users\\student\\Desktop\\TIL\\Deeplearning\\newFile.txt', 'C:\\Users\\student\\Desktop\\TIL\\Deeplearning\\newFile2.txt', 'C:\\Users\\student\\Desktop\\TIL\\Deeplearning\\test.txt', 'C:\\Users\\student\\Desktop\\TIL\\Deeplearning\\test2.txt', 'C:\\Users\\student\\Desktop\\TIL\\Deeplearning\\tozi.txt']

In [194]:
# 21
def BMItest(a,b):
    weight = a
    height = b * 0.01
    BMI = weight / (height * 2)
    print(BMI)
    if BMI < 18.5:
        print('마른체형')
    elif 18.5 <= BMI < 25.0 :
        print('표준')
    elif 25.0 <= BMI < 30.0 :
        print('비만')
    elif 30.0 <= BMI :
        print('고도비만')
    
BMItest(70,176)

19.886363636363637
표준

In [ ]:
# 22
def BMItest():
    weight = int(input('체중을 입력하시오 (단위 : kg)'))
    height = int(input('키를 입력하시오 (단위 : cm)')) * 0.01
    BMI = weight / (height * 2)
    body_spec = ''
    if BMI < 18.5:
        body_spec ='마른'
    elif 18.5 <= BMI < 25.0 :
        body_spec ='표준'
    elif 25.0 <= BMI < 30.0 :
        body_spec ='비만'
    elif 30.0 <= BMI :
        body_spec ='고도비만'
        
    print('당신의 BMI 는%d이고 %s체형 입니다.'%(BMI, body_spec))

while True:
    BMItest()

체중을 입력하시오 (단위 : kg)70
키를 입력하시오 (단위 : cm)176
당신의 BMI 는19이고 표준체형 입니다.
체중을 입력하시오 (단위 : kg)50
키를 입력하시오 (단위 : cm)142
당신의 BMI 는17이고 마른체형 입니다.

In [3]:
# 23
def get_triangle_area(width, height):
    res = (width * height) / 2
    print('밑변 %d, 높이 %d인 삼각형의 넓이는 %d입니다.' %(width, height, res))

get_triangle_area(2,5)

밑변 2, 높이 5인 삼각형의 넓이는 5입니다.

In [6]:
# 24
def add_start_to_end(start, end):
    Sum = sum(list(range(start,end+1)))
    print('%d부터 %d까지의 합은 %d입니다.'%(start,end,Sum))
    
add_start_to_end(1,100)

1부터 100까지의 합은 5050입니다.

In [12]:
# 25
a =  ['Seoul', 'Daegu', 'Kwangju', 'Jeju','ssss']

def three_chr_list(List):
    res=[]
    for i in range(len(List)):
        res.append(List[i][:3])
    print(res)

three_chr_list(a)

['Seo', 'Dae', 'Kwa', 'Jej', 'sss']

# 보너스

In [1]:
import random as rd

random_num = []
criterion = [0,1,2,3,4,5,6,7,8,9,'.', '.']
c = [0] * 12
triple_cnt = 0
run_cnt = 0

# 랜덤으로 6개의 숫자를 지정하는 경우
# while len(random_num)!=6:
#     random_num.append(rd.randint(0,9))

# print('생성된 숫자 : ',random_num)

# 임의의 숫자를 지정하는 경우
num = input('숫자 6개를 입력하시오(띄어쓰기로 구분)').split(' ')

for i in range(len(num)):
    random_num.append(int(num[i]))

for i in range(len(random_num)):
    c[random_num[i]] += 1
print(criterion)
print(c)

t=0
while t < 10:
    for i in range(len(c)):
        if c[i] == 3:
            triple_cnt += 1
            c[i] -= 3
            continue
        elif c[i] >= 1 and c[i+1] >= 1 and c[i+2] >= 1:
            run_cnt += 1
            c[i] -= 1
            c[i+1] -= 1
            c[i+2] -= 1
            continue
    t += 1
    
print(c)
if triple_cnt == 2:
    print('triple_cnt * 2 baby-gin!!!')
elif triple_cnt == 1 and run_cnt == 1 :
    print('triple_cnt * 1 / run_cnt * 1 baby-gin!!!')
elif run_cnt == 2 :
    print('run_cnt * 2 baby-gin!!!')

숫자 6개를 입력하시오(띄어쓰기로 구분)1 1 2 2 3 3
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, '.', '.']
[0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
run_cnt * 2 baby-gin!!!